.slider {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  flex-wrap: nowrap;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide {
  flex: none;
  scroll-snap-align: start;
  flex-shrink: 0;
}
